*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f3f4f6;
}

.home{
    position: absolute;
    top: 10px;
    left: 10px;
}
.home i{
    scale: 1.4;
}

.icon i{
    color: #604058;
    scale: 4;
    margin: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1rem;
    border:1px solid #604058;
    border-radius: 10px;
}
form input{
    min-width: 22vw;
    min-height: 5vh;
    padding-inline: 0.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

form ::placeholder{
    margin-left: 1rem;
}

form select{
    min-width: 30vw;
    min-height: 5vh;
    padding-inline: 0.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

form button{
    width: fit-content;
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
    background-color: #000;
    color: #fff;
    align-self: center;
    border: 0;
    border-radius: 10px;
}